
/* Styles for strong */
strong {
    font-size: 14pt;
    font-family: Georgia, palatino, serif;
}

/* Styles for p */
/* add georgia font */
/* make text red  */
p { 
    padding-left: 15px;
    font-size: 11pt;
    font-family: Verdana, palatino, serif;
    color: white;
}

/* Styles for blockquote */
blockquote {
    font-size: 12pt;
    font-family: georgia, palatino, serif;
}

/* Styles for ol */
ol {
    margin-left: 20px;
    /*set font color*/
    color: #FFA500 !important;
}

/* Styles for li */
li {
    font-size: 11pt;
    color: #FFA500 !important;
}

/* Styles for h1 elements with class title */
h1.title {
    color: #003152; /* Black color for the h1 title */
    font-size: 28pt !important;
}

.quarto-title h1.title {
    color: #003152 /* Your desired color */;
}


/* Background color for body*/ 
body {
    background-color: #003152; /* Use hex color code */
} 

/* set for all h3 to h6 to have light grey color */
h1, h2, h3, h4 {
    color: lightgrey;
}

/* Styles for the div with class quarto-title-meta-heading */
.quarto-title-meta-heading {
    color: lightgrey; /* Light grey color */
}

/* Styles for the div with class quarto-categories */
.quarto-categories {
    color: #990099; /* Light grey color */
}

pre code {
    background-color: white; /* Light grey background */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Rounded corners */
    overflow-x: auto; /* Add horizontal scroll for long lines */
    font-family: "Courier New", Courier, monospace; /* Use monospace font for code */
    color: #990099; /* Dark grey text color */
}

/* Container for the TOC */
/* Style for the TOC container */
#TOC {
    position: fixed; /* Fix position relative to the viewport */
    top: 400px; /* Distance from the top of the viewport */
}

/*for navbars */
/* Navbar styles */
.navbar {
    background-color: #003152; /* Match background color with body */
    padding: 10px 0; /* Add padding to the top and bottom of the navbar */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center-align the list items */
}

.navbar li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color to white */
    font-size: 18px; /* Set font size for navbar links */
    font-family: Georgia, Palatino, serif; /* Match font family with paragraph text */
}


