/* Styles for span */
span {
    font-size: 10pt;
    font-family: Verdana, palatino, serif;
}

/* Styles for strong */
strong {
    font-size: 14pt;
    font-family: Georgia, palatino, serif;
}

/* Styles for p */
/* add georgia font */
/* make text red  */
p { 
    padding-left: 15px;
    font-size: 11pt;
    font-family: Verdana, palatino, serif;
    color: #c8c9cb;
}

/* Styles for blockquote */
blockquote {
    font-size: 25pt;
    font-family: georgia, palatino, serif;
}

/* Styles for ol */
ol {
    margin-left: 20px;
}

/* Styles for li */
li {
    font-size: 14pt;
}

/* Background color for body */
body {
    background-color: #003152; /* Use hex color code */
}

/* change the yaml title color to the #003152 */
h1 {
    color: white;
}

/* set for all h3 to h6 to have light grey color */
h2, h3, h4 {
    color: white;
}
