/* Styles for span */
span {
    font-size: 10pt;
    font-family: Verdana, palatino, serif;
    background-color: white; /* Add white background */
}

/* Styles for strong */
strong {
    font-size: 14pt;
    font-family: Georgia, palatino, serif;
    background-color: white; /* Add white background */
}

/* Styles for p */
/* add georgia font */
/* make text red  */
p { 
    padding-left: 15px;
    font-size: 11pt;
    font-family: Verdana, palatino, serif;
    color: black;
    background-color: white; /* Add white background */
}

/* Styles for blockquote */
blockquote {
    font-size: 12pt;
    font-family: georgia, palatino, serif;
    background-color: white; /* Add white background */
}

/* Styles for ol */
ol {
    margin-left: 20px;
    background-color: white; /* Add white background */
}

/* Styles for li */
li {
    font-size: 14pt;
    background-color: white; /* Add white background */
}

body {
    background-color: lightblue;
    background-image: url('https://img1.wallspic.com/previews/5/0/8/0/20805/20805-football-social_group-competition-football_player-team_sport-x750.jpg');
    background-attachment: fixed;
    /* This property will make the background image cover the entire body */
}

h1 {
    color: white;
}


