/* Paragraph styles */
/* Set the title to not bold */
.title {
    font-weight: normal;
}

p {
    padding-left: 15px;
    font-size: 11pt;
    font-family: Verdana, Palatino, serif;
    color: white;
}

/* Background color for body */
body {
    background-color: #003152;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Header colors for h3 to h6 */
h1, h2, h3, h4, h5, h6 {
    color: white;
}

/* Animation text on the front page */
#tagline {
    animation: fadeInOut 1s ease-in-out infinite;
    color: white;
    font-size: 1.2em; /* Increase font size for better visibility */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Adjust margin for better positioning */
}

/* Description on the front page */
#description {
    font-size: 1em;
    color: lightgrey;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Center the text */
    margin-top: 20px; /* Adjust margin for better positioning */
}

/* Keyframes for fade-in-out animation */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Styles for the div with class quarto-categories */
.quarto-categories {
    color: #990099; /* Light grey color */
}

/* Styles for ol */
ol {
    margin-left: 20px;
    /*set font color*/
    color: #FFA500 !important;
}

/* Styles for li */
li {
    font-size: 11pt;
    color: #FFA500 !important;
}

/*for navbars */
/* Navbar styles */
.navbar {
    background-color: #003152; /* Match background color with body */
    padding: 10px 0; /* Add padding to the top and bottom of the navbar */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center-align the list items */
}

.navbar li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color to white */
    font-size: 18px; /* Set font size for navbar links */
    font-family: Georgia, Palatino, serif; /* Match font family with paragraph text */
}



